footer{
    display: flex;
    align-items: center;
    justify-content: space-around;
    min-height: 15vh;
    border-top: 1px solid lightgray;
    margin-top: 40px;
    .footer-bar{
        ul{
            display: flex;
            gap: 10px;
        }
    }
    .footerEarthStore{
        p{
            font-size: 25px;
            letter-spacing: 2px;
            font-weight: 600;
        }
    }
}