nav {
    display: flex;
    justify-content: space-around;
    padding: 2rem;
    border-bottom: 1px solid lightgray;
    .nav-icon {
      p {
        font-size: 25px;
        font-weight: 700;
        letter-spacing: 3px;
      }
    }
    .nav-menu {
      display: flex;
      ul {
        display: flex;
        li {
          padding-right: 30px;
          color: black;
          font-weight: 500;
        }
      }
      .icons {
        display: flex;
        .fa-bars {
          display: none;
        }
        i {
          padding-right: 30px;
          font-size: 25px;
          sup {
            font-size: 7px;
            background-color: black;
            color: white;
            border-radius: 50%;
            padding: 4px;
          }
        }
      }
    }
  }