.shopContainer {
    max-width: 100%;
    display: flex;
    padding-top: 3rem;

    .leftSide {
        width: 35%;
        padding-right: 2rem;
        display: flex;
        justify-content: flex-end;
        .search{
            input{
                padding: 10px;
                font-size: 17px;
                border: 1px solid lightgray;

            }
            button{
                padding: 13px;
                font-size: 15px;
                border: none;
                background-color: #74A84A;
                color: white;
            }
        }

    }

    .rightSide {
        width: 65%;
        border-left: 1px solid lightgray;
        padding-left: 2rem;

        .rightSideContainer {
            width: 70%;

            h2 {
                font-size: 60px;
                font-weight: 400;
                color: #74A84A;
                padding: 20px 0px;
            }

            .selector {
                padding: 30px 0px;
                display: flex;
                justify-content: space-between;

                select {
                    border: none;
                    font-size: 17px;
                    outline: none;
                    padding: 5px 10px;
                    color: gray;

                }
            }

            .shopCardSection {
                display: flex;
                justify-content: space-between;
                align-items: center;
                gap: 40px;
                flex-wrap: wrap;
                margin: 30px 0px;


                .poster_v {
                    width: 250px;
                    height: 300px;
                }

                .img {
                    img {
                        width: 250px;
                        height: 220px;
                        object-fit: cover;
                    }
                }

                .posterContent {
                    .category {
                        font-size: 15px;
                        color: gray;
                        padding-top: 10px;
                    }

                    .name {
                        font-weight: 600;
                        padding: 10px 0;
                    }

                    .price {
                        font-weight: 600;
                        font-size: 15px;
                        color: gray;
                    }
                }
            }
        }


    }

}